@import '../../../App.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');




@media screen and (min-width: 1000px) {
    .cards{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .portfolio__title{
            color: $font-primary;
            font-size: 32px;
            
        }
        .cards__info{
            color: $font-primary;
            display: grid;
         
            grid-template-columns: 300px 300px 300px;
            grid-template-rows: repeat(2, 320px) ;
             
            
            gap: 20px;
            
            .project__name{
                font-size: 18px;
                text-align: center;
                padding-top: 10px;
            }
            .card{
                background-color: $background-secondary;
                box-shadow: 0px 5px 10px black;
                border-radius: 10px;
                margin-bottom: 20px;
                
               
    
                .project__description{
                    width: 250px;
                    height: 140px;
                    padding: 20px;
                    font-size: 14px;
                    color: $font-primary;
                    font-family: 'Source Code Pro', monospace;
                }
            }
    
            .project__stack{
                font-size: 12px;
                color: $font-secondary;
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                justify-content: space-around;
           
            }
    
            .link{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 10px;

                a{
                    color: $font-primary;
                    font-size: 32px;
                }
                a:hover{
                    color: $font-secondary;
                    font-size: 32px;
                }

                .pokedex{
                    font-size: 10px;
                    text-align: center;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    font-family: 'Source Code Pro', monospace;
                }
            }
        }
    }
}



@media screen and (max-width: 1000px) {
    .cards{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        .portfolio__title{
            color: $font-primary;
            font-size: 32px;
            
        }
        .cards__info{
            color: $font-primary;
            display: grid;
         
            grid-template-columns: 250px 250px 250px;
            grid-template-rows: repeat(2, 270px) ;
             
            
            gap: 10px;
            
            .project__name{
                font-size: 14px;
                text-align: center;
                padding-top: 10px;
            }
            .card{
                background-color: $background-secondary;
                box-shadow: 0px 5px 10px black;
                border-radius: 10px;
                margin-bottom: 20px;
                
               
    
                .project__description{
                    width: 220px;
                    height: 100px;
                    padding: 10px;
                    font-size: 12px;
                    color: $font-primary;
                    font-family: 'Source Code Pro', monospace;
                }
            }
    
            .project__stack{
                font-size: 10px;
                color: $font-secondary;
                display: flex;
                flex-direction: row;
                margin-top: 10px;
                justify-content: space-around;
           
            }
    
            .link{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                a{
                    color: $font-primary;
                    font-size: 32px;
                }
                a:hover{
                    color: $font-secondary;
                    font-size: 32px;
                }
                .pokedex{
                    font-size: 10px;
                    text-align: center;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    font-family: 'Source Code Pro', monospace;
                }
            }
        }
    }
}

@media screen and (max-width: 821px){
    .cards{
        width: 100vw;
        height: 130vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
       

        .portfolio__title{
            color: $font-primary;
            font-size: 28px;
            margin-bottom: 20px;
            height: 70px;
           
        }
        .cards__info{
            color: $font-primary;
            display: grid;
            grid-template-columns: 180px 180px;
            grid-template-rows: repeat(auto-fit, 1fr);
            
           
            
            .project__name{
                font-size: 14px;
                text-align: center;
                padding-top: 10px;
            }
            .card{
                background-color: $background-secondary;
                box-shadow: 0px 5px 10px black;
                border-radius: 10px;
                margin-bottom: 20px;
               

                .project__description{
                    margin-top: 10px;
                    width: 150px;
                    padding: 5px;
                    height: 120px;
                    font-size: 10px;
                    color: $font-primary;
                    font-family: 'Source Code Pro', monospace;
                }
            }
    
            .project__stack{

                font-size: 9px;
                color: $font-secondary;

         
           
            }
    
            .link{
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-left: 10px;
                a{
                    color: $font-primary;
                    font-size: 32px;
                }
                a:hover{
                    color: $font-secondary;
                    font-size: 32px;
                }
                .pokedex{
                    font-size: 8px;
                    text-align: center;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    font-family: 'Source Code Pro', monospace;
                }
            }
        }
    }
}