@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
.about__me{
    color: white;
    position: absolute;
    height: 400px;
    max-width: 700px;
    top: 30%;
    left: 10%;
    z-index: 2;
    
    
    .first___sentence{
        color: rgb(74, 207, 185);
        font-size:28px;
        font-family: 'Secular One', sans-serif;
    }
    .my__fio{
        font-size: 76px;
        font-family: 'Passion One', cursive;
    }
   
    .text__about{
        color: rgb(190, 190, 194);
        font-size: 24px;
        font-family: 'Secular One', sans-serif;
    }
}



